


body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

#main-container {
  flex: 1 0 auto;
}


 
.page-footer {
    padding-top: 20px;
    color: #e8eaf6;
    background-color: #8e24aa ;
    text-align: center;
}

.social-icons a {
    display: inline-block;
    height: 3.5rem;
    width: 3.5rem;
    background-color: #495057;
    color: #fff !important;
    border-radius: 100%;
    text-align: center;
    font-size: 1.5rem;
    line-height: 3.5rem;
    margin-right: 1rem;
  }
  
  .social-icons a:last-child {
    margin-right: 0;
  }
  
  .social-icons a:hover {
    background-color: #BD5D38;
  }
 